.card_container {
  display: flex;
  justify-content: space-between;
  margin-top: 3em;
  gap: 2em;
  margin: 0 auto;
  margin-bottom: 2em;
  width: 100%;
}

.card_list button {
  margin: 0;
  padding: 0.5em;
  cursor: pointer;
  width: 100%;
}

.target_card {
  display: flex;
  gap: 2em;
}

.card_buttons {
  margin-top: 1em;
}
