.card_container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  gap: 2em;
}

.card_list button {
  margin: 0;
  padding: 0.5em;
  cursor: pointer;
}

.target_card {
  display: flex;
  gap: 2em;
}
