.card_container {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
  gap: 2em;
  margin: 0 auto;
  margin-bottom: 2em;
  width: 100%;
}

.card_list button {
  margin: 0;
  padding: 0.5em;
  cursor: pointer;
  width: 100%;
}

.card_name_container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  form {
    display: flex;
    gap: 2em;

    input {
      width: 4em;
    }
  }
}

.target_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.target_card {
  display: flex;
  gap: 2em;
}

.card_buttons {
  margin-top: 1em;
}
